@{
    Layout = null;
}
@model LoginModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Or Register </title>
    <link rel="stylesheet" type="text/css" href="/login/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/login/css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="/login/css/iofrm-style.css">
    <link rel="stylesheet" type="text/css" href="/login/css/iofrm-theme2.css">
</head>
<body>
    <div class="form-body">
        <div class="website-logo">
            <a href="index.html">
                <div class="logo">
                    <img class="logo-size" src="/login/images/logo-light.svg" alt="">
                </div>
            </a>
        </div>
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">

                </div>
            </div>
            <div class="form-holder">
                <div class="form-content" style="height:700px;">
                    <div class="form-items">
                        <h3>Get more things done with Loggin platform.</h3>
                        <p>Access to the most powerfull tool in the entire design and web industry.</p>
                        <div class="page-links">
                            <a href="@Url.Action("Login","Account")" class="active">Login</a><a href="@Url.Action("Register","Account")">Register</a>

                        </div>
                        <form method="post">
                            <input class="form-control" type="text" name="UserEmail" placeholder="E-mail Address" required>
                            <input class="form-control" type="password" name="Password" placeholder="Password" required>
                            <label asp-for="RememberMe">

                                <input asp-for="RememberMe" />
                                @Html.DisplayNameFor(m=>m.RememberMe)
                            </label>
                            @*<input type="checkbox" id="chk1"><label for="chk1">Remember me</label>*@
                            <div class="form-button">
                                <button id="submit" type="submit" class="ibtn">Login</button> @*<a href="forget2.html">Forget password?</a>*@
                            </div>
                            <div class="form-button">
                                <a href="@Url.Action("Index","Home")" class="ibtn">Back To Main Page</a>

                            </div>
                        </form>
                        <div class="other-links">
                            <span>Or login with</span> <a href="@Url.Action("SignIn","Auth")">Facebook</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/login/js/jquery.min.js"></script>
    <script src="/login/js/popper.min.js"></script>
    <script src="/login/js/bootstrap.min.js"></script>
    <script src="/login/js/main.js"></script>
</body>
</html>